Repository 1-Platform/one-platform, pull requests merged in 2021-01, with the labels that each got.

#852 docs(blog): Publishes State of One Platform - Dec 2020
  packages/documentation-spa/blog/2020-12-08-state-of-one-platform-dec-2020.md
Labels: documentation

#853 fix(docs): fixes docs spa dependencies and blog date.
  packages/documentation-spa/blog/2021-01-08-state-of-one-platform-dec-2020.md
  packages/documentation-spa/package-lock.json
  packages/documentation-spa/package.json
Labels: documentation

#855 docs(blog): Updates OKRs of the January State of One Platform blog post.
  packages/documentation-spa/blog/2021-01-08-state-of-one-platform-dec-2020.md
Labels: documentation

#762 feat(api-gateway-auth): Refactored the remoteSchema executors
  packages/api-gateway-service/e2e/api-gateway.spec.ts
  packages/api-gateway-service/package-lock.json
  packages/api-gateway-service/package.json
  packages/api-gateway-service/service.ts
  packages/api-gateway-service/src/helpers.ts
  packages/api-gateway-service/src/remote-schema.ts
  packages/api-gateway-service/src/stitch-schema.ts
  packages/api-gateway-service/src/verify-token.ts
Labels: enhancement

#874 fix(#873) - Implement the categorisation designs for the platform SSI
  packages/ssi-service/src/nav/api.js
  packages/ssi-service/src/nav/nav.css
  packages/ssi-service/src/nav/nav.js
Labels: chore
